<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tableviewSlideMenuLeadingConstraint</key>
	<integer>-250</integer>
	<key>dashBoardCollectionViewCellCount</key>
	<integer>6</integer>
	<key>tableViewCellCount</key>
	<integer>7</integer>
	<key>url</key>
	<string>http://192.168.0.16:3000</string>
</dict>
</plist>
